{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "loose": true }],
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "alias": {
          "^/src$": "./src/index",
          "^/src/(.*)": "./src/\\1",
          "^/components/(.*)": "./src/components/\\1",
          "^/utils/(.*)": "./src/utils/\\1"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook", "dynamic-import-node"]
    }
  }
}
