{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["src/**/*.js"]
    }
  ]
}
